@import "vars";

@mixin box($width, $height, $radius, $background) {
  width: $width;
  height: $height;
  position: absolute;
  background-color: $background;
  border-radius: $radius;
  transition: all 500ms;
}

.contacts {
  height: 108%;
  transform: translateY(-70px);
  background: #fff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.contacts .filter {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 25px;
  padding: 10px 15px;

  label {
    width: 70px;
    height: 30px;
    display: block;
    position: relative;
    cursor: pointer;

    & span {
      @include box(100%, 100%, 20px, #f2f2f2);

      &::before {
        content: "";
        @include box(15px, 15px, 100%, #c6c6c6);
        top: 50%;
        left: 10%;
        transform: translateY(-50%);
      }
    }

    input {
      display: none;
      opacity: 0;

      &:checked + span {
        background-color: $whatsApp_color;

        &::before {
          left: 70%;
          background-color: #fff;
        }
      }
    }
  }

  h4 {
    margin-left: 10px;
    text-transform: capitalize;
  }
}

.contacts__box {
  flex: 0.95;
  min-width: 250px;
  overflow-y: auto;
  .userBox {
    justify-content: space-between;
    transition: background-color 0.6s ease;
    margin: 10px 0;
    padding: 10px 15px;

    &:hover {
      background-color: rgba(30, 190, 113, 0.2);
    }

    &__left .text {
      color: black;
      @media only screen and (max-width: 1200px) {
        display: none;
      }
    }
  }
}

.contacts .bottom {
  text-align: center;

  h3 {
    margin: 15px;
    color: $whatsApp_color;
  }
}

@media only screen and (max-width: 1050px) {
  .contacts .filter {
    padding: 10px;

    h4 {
      display: none;
    }
  }
  .contacts__box {
    min-width: initial;

    .userBox {
      padding: 10px;

      &__right {
        display: none;
      }
    }
  }

  .contacts .bottom {
    text-align: initial;

    :not(img) {
      display: none;
    }
  }
}
