@import "vars";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html,
#root {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: aliceblue;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

input,
button {
  outline: none;
  cursor: pointer;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.error {
  overflow: hidden;
  color: red;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: $whatsApp_color;
  border-radius: 10px;
}
