.navigation {
  min-height: 250px;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  & > div {
    width: 40%;

    h5 {
      text-transform: capitalize;
      text-align: center;
      margin-top: 10px;
    }
  }
}

.call__icon path {
  fill: gray;
}

[class|='out'] {
  transform-origin: center;
  animation: rotate cubic-bezier(0.14, 1.15, 0.68, 0.4) infinite;
}

.out-1 {
  animation-duration: 6s;
}

.out-2 {
  animation-name: rotate2;
  animation-duration: 3s;
}

.out-3 {
  animation-duration: 2s;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate2 {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(-360deg);
  }
}
