.message {
  overflow: hidden;
  padding: 10px 0 5px 10px;
}

.message__texts {
  height: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
  overflow-y: auto;
  scroll-behavior: smooth;
  margin-bottom: 15px;
  padding-right: 10px;
  position: relative;
}

.message__texts > .typing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  color: rgba(30, 190, 113, 0.5);
}

.message__texts > .typing .dots {
  margin-left: 5px;
}

.message__texts > .typing .dots span {
  display: inline-block;
  background-color: #6cad96;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin-right: 4px;
  -webkit-animation: typing 1.5s infinite ease-in-out;
          animation: typing 1.5s infinite ease-in-out;
}

.message__texts > .typing .dots span:nth-child(1) {
  -webkit-animation-delay: 150ms;
          animation-delay: 150ms;
}

.message__texts > .typing .dots span:nth-child(2) {
  -webkit-animation-delay: 250ms;
          animation-delay: 250ms;
}

.message__texts > .typing .dots span:nth-child(3) {
  -webkit-animation-delay: 350ms;
          animation-delay: 350ms;
}

.message__texts > div {
  max-width: 49%;
  border-radius: 10px;
  padding: 10px 15px;
}

.message__texts > div h5 {
  color: #1ebe71;
  margin-bottom: 5px;
}

.message__texts > div .chat__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.message__texts > div span {
  font-size: 13px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.message__texts .myself {
  -ms-flex-item-align: end;
      align-self: flex-end;
  background-color: #1ebe71;
  color: #fff;
}

.message__texts .other {
  background-color: #f2f2f2;
}

.message__texts .other span {
  color: #808080;
}

.message .communication {
  height: 15%;
}

.message .communication form {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.message .communication form textarea {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  resize: none;
  overflow: hidden;
  outline: none;
  padding: 5px;
  font-size: 16px;
}

.message .communication form button {
  width: 50px;
  height: 50px;
  background-color: #1ebe71;
  border: none;
  border-radius: 100%;
  position: relative;
}

.message .communication form button::before {
  content: url("../icons/microphone.png");
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@-webkit-keyframes typing {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    background-color: #6cad96;
  }
  30% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    background-color: #9ecab9;
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    background-color: #b5d9cb;
  }
}

@keyframes typing {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    background-color: #6cad96;
  }
  30% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    background-color: #9ecab9;
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    background-color: #b5d9cb;
  }
}
/*# sourceMappingURL=message.css.map */