.message {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  padding: 15px;
  padding-bottom: 5px;
}

.message__texts {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
  overflow-y: auto;
  scroll-behavior: smooth;
  margin-bottom: 15px;
  padding-right: 10px;
  position: relative;
}

.message__texts > div {
  max-width: 49%;
  border-radius: 10px;
  padding: 10px 15px;
}

.message__texts > div h5 {
  color: #1ebe71;
  margin-bottom: 5px;
}

.message__texts > div .chat__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.message__texts > div span {
  font-size: 13px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.message__texts .myself {
  -ms-flex-item-align: end;
      align-self: flex-end;
  background-color: #1ebe71;
  color: #fff;
}

.message__texts .other {
  background-color: #f2f2f2;
}

.message__texts .other span {
  color: #808080;
}

.message .communication {
  min-height: 60px;
}

.message .communication form {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.message .communication form > * {
  height: 50px;
}

.message .communication form textarea {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  resize: none;
  overflow: hidden;
  outline: none;
  padding: 5px 12px;
  font-size: 16px;
  border: none;
  border-radius: 10px 0 0 10px;
}

.message .communication form .btns {
  background-color: #fff;
  border-radius: 0 10px 10px 0;
}

.message .communication form .btns > :nth-child(2) {
  margin: 0 10px;
}

.message .communication form button {
  width: 25px;
  height: 50px;
  background-color: transparent;
  border: none;
  border-radius: 100%;
}

.message .communication form .voice {
  position: relative;
}

.message .communication form .voice svg,
.message .communication form .voice svg * {
  pointer-events: none;
  position: inherit;
  z-index: 5;
  -webkit-transition: fill 100ms ease-out;
  transition: fill 100ms ease-out;
}

.message .communication form .voice::after {
  content: "";
  position: absolute;
  left: -6px;
  top: 5px;
  width: 40px;
  height: 40px;
  background-color: #1ebe71;
  border-radius: 50%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 200ms ease-out;
  transition: -webkit-transform 200ms ease-out;
  transition: transform 200ms ease-out;
  transition: transform 200ms ease-out, -webkit-transform 200ms ease-out;
}

.message .communication form .emoji {
  position: relative;
  z-index: 10;
}

.message .communication form .emoji::before {
  content: url("../icons/smile.svg");
}

.message .typing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: rgba(30, 190, 113, 0.5);
}

.message .typing .dots {
  margin-left: 5px;
}

.message .typing .dots span {
  display: inline-block;
  background-color: #6cad96;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin-right: 4px;
  -webkit-animation: typing 1.5s infinite ease-in-out;
          animation: typing 1.5s infinite ease-in-out;
}

.message .typing .dots span:nth-child(1) {
  -webkit-animation-delay: 150ms;
          animation-delay: 150ms;
}

.message .typing .dots span:nth-child(2) {
  -webkit-animation-delay: 250ms;
          animation-delay: 250ms;
}

.message .typing .dots span:nth-child(3) {
  -webkit-animation-delay: 350ms;
          animation-delay: 350ms;
}

.voice.active svg {
  fill: #fff;
}

.voice.active::after {
  -webkit-transform: scale(1) !important;
          transform: scale(1) !important;
}

.voice.active::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: lightgreen;
  top: -5px;
  left: -15px;
  border-radius: 50%;
  -webkit-animation: record 2s alternate infinite linear;
          animation: record 2s alternate infinite linear;
}

.voice__message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  background-color: rgba(56, 190, 113, 0.51);
}

.voice__message .play__pause {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50px;
  text-align: center;
  line-height: 50px;
  background-color: #fff;
}

.voice__message .play__pause svg {
  width: 50%;
  height: 100%;
}

.voice__message .seek {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 200px;
  height: 5px;
  border-radius: 5px;
  background-color: #fff;
}

.voice__message .seek .fill {
  width: 0;
  border-radius: 5px;
  background-color: #000;
}

.message section {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  text-transform: uppercase;
}

.message button.join {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: none;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.1em;
  background: linear-gradient(45deg, #38be71, lightgreen 50%);
}

.emoji__picker {
  position: absolute;
  bottom: 80px;
  right: 20px;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
}

@-webkit-keyframes typing {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    background-color: #6cad96;
  }
  30% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    background-color: #9ecab9;
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    background-color: #b5d9cb;
  }
}

@keyframes typing {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    background-color: #6cad96;
  }
  30% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    background-color: #9ecab9;
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    background-color: #b5d9cb;
  }
}

@-webkit-keyframes record {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@keyframes record {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@media only screen and (max-width: 450px) {
  .message {
    padding: 15px 5px 0;
  }
  .message__texts {
    height: 89%;
  }
  .message .communication {
    height: 10%;
  }
}
/*# sourceMappingURL=message.css.map */